@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 255, 244);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: red;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: red !important;
}

html {
  scrollbar-width: none;
}

/* remove scroll bar */
html::-webkit-scrollbar {
  display: none;
}
